body {
  padding-top: 60px;
  padding-left: 100px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
    padding-left: 0px;
  }
}

.selected {
    background-color: #69F06E;
}

.top-margin {
    margin-top: 20px;
}